figure.logo svg {
    width: clamp(250px, 30vw, 500px);
    height: fit-content;
}

#animated-svg path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s ease-in-out forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.buttons-container { position: absolute; left: 1%; }
.buttons-container > figure:nth-child(1) { margin-bottom: 2rem; }

#home figure.logo { align-items: start; }
section>article.max {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#home .arrow-right {
	position: absolute;
	right: clamp(37%, 2vw, 45%);
	top: -20px;
}

#presentation {
    align-items: center;
    flex-wrap: wrap;
}

#presentation h2 { max-width: 600px; }
#presentation .logo { margin-top: 2em; }

#polkadot {
    color: inherit;
    font-size: var(--font-size-subtitle);
    text-decoration: underline;
}

.column { display: flex; flex-direction: column;}
.link-arrow.color { color: var(--clr-green-lighter); }


#not-programmer article h2 { max-width: 700px; }
#not-programmer>article.max { max-width: 800px; }
#not-programmer .arrow {
    width: clamp(2em, 3vw, 4em);
    position: relative;
    bottom: 2em;
}

#know-more > article {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 5em 0;
}
#know-more > article > h3, .auto-grid { grid-column: 2; }
.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    justify-content: center;
    gap: 3em;
}
.auto-grid>li { list-style: none; display: grid; gap: 1.75em; }
.auto-grid>li>img { width: 100%; object-fit: contain; }

#local-community { display: grid; }
#local-community article div { max-width: 40rem; }
#local-community article div:nth-child(2) { margin-bottom: 5em;}
figure.build-machine img { width: 100%; }
@media (min-width: 1400px) {
    .build-machine::after {
        content: url('../img/arrow_left.svg');
        display: inline-block;
        position: absolute;
        bottom: 40%;
        left: 53%;
        transform: translate(-100%, -50%);
        width: 20px; 
    }
  }

#local-community .max .text-section {
    gap: 2rem;
    align-self: flex-end;
    width: 90%;
}
#local-community .max { flex-wrap: wrap; }

@media (max-width: 400px) {
    #local-community h2 { font-size: calc(var(--font-size-subtitle) + .5em); }
}

#you-decide article h2 span { display: block; }
#you-decide article h2 { margin-top: .75em; }
#you-decide article>ul.max {
    align-items: center;
	display: flex;
    gap: clamp(1rem, 6vw, 5rem);
	justify-content: center;
}

#you-decide article>ul svg {
    fill: var(--clr-olive-darker);
    width: 4rem;
}

.underlined-element::after {
    content: url('../img/underline.svg');
    position: relative;
    bottom: clamp(3vh, 4vh + 1vw, 7vh);
	left: 7.5vw;
    width: 7vw;
}

/*Media queries*/
@media (max-width: 750px) {
    #home .text-section, #presentation>article> * {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #home .logo { order: 0; align-self: center; }
}

@media (min-width: 586px) {
    #home .logo { order: 2 !important; }
}

@media (max-width: 1200px) {
    #home .text-section { order: 2; }
    .arrow-right {
        display: none;
    }
    figure { display: flex; } 
}
