/*General styles*/
* { margin: 0; padding: 0; font-family: var(--font-primary); box-sizing: border-box;}
main { display: flex; flex-direction: column; }
section { display: flex; padding: calc(2rem + 5vmin) calc(1rem + 4vmin); min-height: 90dvh; }
a, button { text-decoration: none; cursor: pointer; }
section>article {
	display: flex;
    justify-content: center;
}

.top-nav {
	position:static; /*Change later when the performance of the nav is decided*/
    top: 0;
	z-index: 99;
}
button {
    border: none;
    border-radius: 50px;
    width: fit-content;
    padding: clamp(5px, 2vh, 20px) clamp(20px, 4vw, 40px);
    text-align: center;
}
figure.logo svg {
    width: clamp(250px, 30vw, 600px);
    height: fit-content;
}

.arrow {
    width: clamp(2em, 3vw, 4em);
    height: auto;
    position: relative;
    top: -60px;
}

.center-arrow { /*Applied to <a> that contains an arrow*/
    display: flex;
    align-items: center;
}

.link-arrow { /*svg container for arrow*/
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
}

/*Add one of these classes to your element to add a text-alignment*/
.right { justify-self: end; } /*Check reusability later, parent has to be display:grid*/
.left { text-align: left;}
.center { text-align: center; }

/*Add one of this classes to your element to add a font-weight*/
.thin { font-weight: var(--font-weight-300); }
.regular { font-weight: var(--font-weight-400); }
.bold { font-weight: var(--font-weight-500); }
.bolder { font-weight: var(--font-weight-600); }
.boldest { font-weight: var(--font-weight-700); }

/*Add one of this classes to your element to add a text-color*/
.grey-text { color: var(--clr-grey); }
.dark-olive-text { color: var(--clr-olive-darker); }
.light-green-text { color: var(--clr-green-lighter); }
.light-lavender-text { color: var(--clr-lavender-lighter); }
.lightest-lavender-text { color: var(--clr-lavender-lightest); }

a, button, p, .subtitle {
    font-family:  var(--font-secondary);
}

/*General styles for all sections*/
#presentacion, #not-programmer, #you-decide {
    justify-content: center;
    align-items: center;
}

.scroll-down-link {
	position: absolute;
	top: 80%;
	left: 90%;
}

.scroll-up-link { 
	position: relative; 
	bottom: 20%; 
}

/*Home*/
#home, .top-nav { background-color: var(--clr-green-lighter);   }
#home button { background-color: var(--clr-green-darker); }

.text-section {
    text-align: left;
    max-width: clamp(300px, 50%, 650px);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#home figure.logo { align-items: start; }

@media (max-width: 1200px) {
    #home .text-section, #presentacion>article> *, footer {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    section {
        justify-content: center;
    }
    #home .text-section { order: 2; }
    #home .logo { order: 1; align-self: center;}
    .build-machine::after {
        content: '';
    }
    /*Add here arrows that are not displayed on mobile version*/
    .build-machine::after {
        display: none;
    }
    #local-community .max  {
        align-content: flex-start;
    }
	.scroll-down-link {
		position: static;
		margin: 2rem auto;
		left: auto;
		top: auto;
		transform: none;
	  }
	.scroll-up-link {
		display: none;
	}
}

#home .max, #presentacion .max {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Presentation*/
#presentacion {
    align-items: center;
    flex-wrap: wrap;
}

#presentacion > article > article.text-section, #presentacion figure.logo {
    margin-top: 2em;
}

/*Not sure about the name of this class*/
.column { display: flex; flex-direction: column;}
.link-arrow.color { color: var(--clr-green-lighter); }

/*Not a programmer*/
#not-programmer h2 { text-align: center; max-width: 700px;}
#not-programmer { justify-content: center; }
#not-programmer, #not-programmer>article { 
    align-items: center; 
    flex-direction: column;
}
#not-programmer>article { gap: 5rem; }
#not-programmer>article.max { margin-top: 5rem; max-width: 800px; }
#not-programmer button { background-color: var(--clr-lavender-lighter);}

/*Here you can*/
#here-you-can {
    background-color: var(--clr-white);
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    row-gap: 4em;
}

#here-you-can > h3.dark-olive-text, #here-you-can > .auto-grid {
    grid-column: 2;
}

a.center-arrow.dark-olive-text.boldest {
    font-size: var(--font-size-subtitle);
}

.auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    justify-content: center;
    gap: 3em;
}

.auto-grid>li {
    list-style: none;
    display: grid;
    gap: 1.75em;
}

.auto-grid>li>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/*Local community*/
#local-community { background-color: var(--clr-whitest); display: grid; gap: 1rem; }

#local-community > article > article { 
    gap: clamp(20em, 10vw, 50em);
}

.logo.build-machine svg {
    width:clamp(300px, 38vw, 800px);
}

@media (min-width: 1200px) {
    .build-machine::after {
        content: url('../img/arrow_left.svg');
        display: inline-block;
        position: relative;
        bottom: 35vh;
        left: 7vw;
        width: 10vw;
        height: auto;
    }
  }

#local-community .max .text-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
}

.fixed-width {
    width: clamp(7em, 50vw, 13em);
}

#local-community .max {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*You decide*/
#you-decide { background-color: var(--clr-lavender-lightest); flex-direction: column; gap:5rem;}
#you-decide h2 {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 5.75rem);
}

#you-decide h3 { text-align: center;}
#you-decide h2 span {
    display: block;
    margin-bottom: 5px;  
}

#you-decide button { background-color: var(--clr-green-darker); margin: -3rem 0 3rem 0; }
#you-decide>ul.max {
    align-items: center;
	display: flex;
    gap: clamp(.5rem, 6vw, 3rem);;
	justify-content: center;
}

#you-decide>ul.max a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

#you-decide>ul svg {
    fill: var(--clr-olive-darker);
    height: 4rem; width: 4rem;
}

.underlined-element::after {
    content: url('../img/underline.svg');
    position: relative;
    bottom: 3vh;
    width: 10vw;
    height: auto;
}

/*Media queries*/
@media screen and (max-width:1200px) {
    figure, .scroll-link { display: flex; } 
    section>article, .scroll-link { flex-direction: column; }
    #local-community .max {
        align-items: start;
        gap: 2rem;
    }
}

/*Add this class to the element for a scroll animation*/
.animated {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 1s ease, transform 0.5s ease;
}

.animated.animate {
	opacity: 1;
	transform: translateY(0);
}