/*General styles*/
body { box-sizing: border-box; padding: 0; }
* { margin-top: 0px; margin-bottom: 0px; }
main { display: flex; flex-direction: column; }
section { min-height: 100vh; display: flex; }
section h2 { font-size: calc(1.5em + 2vmin); }
a { text-decoration: none; cursor: pointer; }
section>article {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
}
nav {
	position:static; /*Change later when the performance of the nav is decided*/
     top: 0;
	z-index: 99;
}
button {
    border: none;
    border-radius: 50px;
    width: fit-content;
    padding: 20px 40px;
    text-align: center;
}
figure.logo svg {
    width: 35vw;
    height: auto;
}

/*Text styles (colors, fonts, links, arrows) */
.title {
    font-size: calc(var(--step-2) + 1em);
    font-weight: 500;
    line-height: 75px;
}

.subtitle {
    font-size: var(--step-1);
    font-weight: 400;
}

.small-paragraph {
    font-size: calc(var(--step-1) - 1em);
    font-weight: 400;
    color: var(--clr-background-pablo);
    line-height: 35px;
    max-width: 650px;
}

.medium-paragraph {
    font-size: var(--step-1);
    font-weight: 400;
    color: var(--clr-background-pablo);
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
}

.link {
    color: var(--clr-background-pablo);
    font-size: calc(var(--step-0) - .1em);
    font-weight: 500;
}


.arrow { /*Curly svg arrow on not-a-programmer section */
    width: 3vw;
    height: auto;
    position: relative;
    top: -60px;
}

.center-arrow { /*Applied to <a> that contains an arrow*/
    display: flex;
    align-items: center;
}

.link-arrow { /*svg container for arrow*/
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
}

.grey { color: var(--clr-grey); }
.dark { color: var(--clr-bg); }
.link, .small-paragraph, .subtitle, .medium-paragraph {
    font-family:  var(--font-secondary);
}

/*General styles for all sections*/
#presentacion, #not-programmer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Home*/
#home, nav { background-color: var(--clr-background-pablo);   }
#home p, button {
    font-size: calc(var(--step-1) - 1em);
    font-weight: 400;
    color: var(--clr-bg);
    font-family:  var(--font-secondary);
    margin: 2rem 0 2rem 0;
}

#home p { margin-bottom: 1rem; letter-spacing: 1px;  }
#home button { background-color: var(--clr-verde-2);}

#home h1 {
    font-size: calc(var(--step-2) + 1em);
    font-weight: 500;
    color: var(--clr-bg);
    line-height: 75px;
}

.text-section {
    padding: .5rem 10rem 5rem 13.5rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    max-width: 800px;
}

/*Presentation*/

#presentacion> article {
    width: max-content;
    margin: auto;
    padding: 5rem 5rem;
    gap: 3rem;
    flex-direction: column;
    align-items: self-start;
}

#presentacion>article:first-child {
    padding: 5rem 5rem 5rem 13.5rem;
}

#presentacion h2, h3, p, #presentacion a {
    color: var(--clr-background-pablo);
}

/*Not a programmer*/
#not-programmer h2 { text-align: center;}
#not-programmer { justify-content: center; padding-top: 3rem; }
#not-programmer>article { 
    align-self: center; 
    flex-direction: column; 
    color: var(--clr-background-pablo);
    gap: 5rem;
}
#not-programmer button { background-color: var(--clr-lila-pablo);}

/*Here you can*/
#here-you-can {
    background-color: var(--clr-white);
    align-items: center;
    min-height: 120vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    padding: 7rem 5rem 2rem 5rem;
}

#here-you-can > h3.subtitle.dark, #here-you-can > .three-column-section {
    grid-column: 2;
}

.three-column-section {
    display: grid;
    grid-template-columns: repeat(3, 553px);
    justify-content: center;
    gap: 3em;
}

.three-column-section>article {
    flex-direction: column;
    text-align: left;
    width: 100%;
    max-width: 553px;
    align-content: center;
}

.three-column-section>article>img {
    width: 100%;
    max-width: 553px;
    max-height: 426px;
    object-fit: contain;
}
  
.three-column-section article h3,
.three-column-section article p,
.three-column-section article a {
  margin-top: 20px; 
  margin-bottom: 30px; 
}

h3.subtitle.dark:nth-child(1), h3.subtitle.dark.right.special-margin:nth-child(3) > a {
    font-weight: 700;
}

.three-column-section>article>h3 {
    margin: 2rem 0;
    font-weight: 600;
    color: var(--clr-bg);
}

h3.subtitle.dark:nth-child(3) > a {
    color: var(--clr-bg);
}

.right {
    justify-self: end;
}

/*Team section - no design style*/

#team { background-color: var(--clr-lavender-lighter); }
#team ul>li { list-style: none; display: inline;}
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
    padding: var(--padding);
    max-width: 100%;
    height: auto;
}

.team-card {
    background-color: var(--clr-white);
    padding: 20px;
    text-align: center;
    font-size: var(--step--1);
}

.team-card img {
    max-width: 100px;
    margin-bottom: var(--margin);
    border-radius: 50%;
}

@media screen and (min-width: 750px) {
    .team-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .team-card:last-child {
        margin: 0 auto;
        grid-column: span 2;
    }
}