@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-blackest: #000;
    --clr-grey: #90A19C;
    --clr-whitest: #FFFFFF;
    --clr-white: #F3F5F4;
    --clr-green-darker: hsl(125, 52%, 56%);
    --clr-green-lighter: hsl(117, 69%, 82%);
    --clr-olive-darker: hsl(163, 49%, 14%);
    --clr-olive-medium: hsl(157, 41%, 19%);
    --clr-olive-lighter: hsl(160, 8%, 79%);
    --clr-lavender-darker: hsl(269, 54%, 56%);
    --clr-lavender-lighter: hsl(266, 55%, 76%);
    --clr-lavender-lightest: hsl(266, 55%, 88%);
    --clr-blue-darker: hsl(200, 96%, 55%);
    --clr-blue-lighter: hsl(193, 77%, 81%);
    --nav-height: calc(4rem + 2vh);
    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'Plus Jakarta Sans', sans-serif;
    --step--2: clamp(0.90rem, calc(0.43rem + 0.35vw), 0.72rem);
    --step--1: clamp(0.75rem, calc(0.65rem + 0.52vw), 1.08rem);
    --step-0: clamp(1.13rem, calc(0.97rem + 0.78vw), 1.63rem);
    --step-1: clamp(1.225rem, calc(1.45rem + 1.17vw), 2.44rem);
    --step-2: clamp(1.425rem, calc(2.18rem + 1.75vw), 3.66rem);
    --margin: 1rem;
    --padding-top-bottom: calc(2rem + 5vmin);
    --padding-left-right: calc(1rem + 4vmin);
    --max-width: 1100px;
}