---
permalink: /about/
title: Sobre Virto
layout: index.liquid
data:
  route: about
---
<style>
	#about { height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; }
	#about h1 { font-size: 7rem; font-family: var(--font-primary);}
	#about h3 { font-family: var(--font-secondary); }
</style>

<body>
	<section id="about">
		<h1>Sobre Virto</h1>
		<h3>Próximamente</h3>
	</section>
<body>

