---
permalink: /coming-soon/
title: Próximamente
layout: index.liquid
data:
  route: coming-soon
---
<style>
	section { flex-direction: column; align-items: center;}
	section h1 { margin-bottom: 2em; }
</style>

<section>
	<h1 class="white-text">Próximamente</h1>
	<figure class="logo">
		{% include "in_progress.svg" %}
	</figure>
</section>
