---
permalink: /comunidades-locales/
title: Comunidades locales
layout: index.liquid
data:
  route: comunidades-locales
---
<style>
	/* Navbar */
	#nav { background-color: var(--clr-lavender-lightest); }
	#nav a:not(#about-link) { color: var(--clr-olive-darker); }
	#menu-dropdown a { color: var(--clr-lavender-lightest) !important; }
	#menu-icon svg line { stroke: var(--clr-olive-darker); }
	#virto-logo svg path { fill: var(--clr-olive-darker); }

	#communities, #communities article { flex-direction: column; }
	section article { margin: 3em 7.8vw; flex-wrap: wrap;  position: relative; z-index: 1;}

	.logo.person {
		position: absolute;
		right: 0px;
		bottom: 0px;
		z-index: 0;
	}

	#animated-svg-3 { 	
		position: absolute;
		left: 50%;
  		transform: translateX(-50%);
		z-index: -2;
	}
 
	#animated-svg-3 path {
		stroke-dasharray: 1200;
		stroke-dashoffset: 1200;
		animation: draw 4s ease-in-out forwards;
	}

	@keyframes draw {
		to {
			stroke-dashoffset: 0;
		}
	}

	#democracy article h1 {
		line-height: .9;
		max-width: 1200px;
	}

	.underlined { position: relative; }
	.underlined::after {
		content: '';
		position: absolute;
		width: 0;
		border-top: solid 6px var(--clr-green-darker);
		left: 0;
		bottom: -10px;
		height: 15px;
		border-radius: 5%;
		transition: width 0.5s ease-out;
		display: block;
	}

	.underlined.show::after {
		width: 110%;
	}

	.header-1 {
		float: left;
		width: calc(100% - 10px);
	}

	#lip { background-image: linear-gradient(to bottom, var(--clr-lavender-lightest) 50%,var(--clr-white) 50%); }
	#lip article{ gap: 5em; padding: 3em; border-radius: 10px; }
	#lip article .text-section { max-width: 500px; align-items: end;}
	.link-arrow.color { color: var(--clr-olive-darker); }

	#smart-contracts .text-container {
		display: flex;
		flex-direction: row;
		gap: 2em;
	}

	.text-container > h3 {
		max-width: 500px;
	}

	.cta h2 { max-width: 1200px;}

	@media (max-width: 700px) {
		#animated-svg-3 {
			bottom: 50%;
		}
		#communities h1 {
			--font-size-main-title: clamp(3rem, 6vw, 5.25rem);
		}
	}

</style>

<body>
	<section id="communities" class="left light-lavender-bg dark-olive-text">
		<article class="animated">
		<h1 class="header-0">Ayuda a transformar tu comunidad: Inicia el cambio</h1>
		<h3 class="bold">En Virto, compartimos esa experiencia y <span class"dark-lavender-text">vamos un paso más allá.</span></h3>
		<figure class="logo container">
			{% include "communities_arrow.svg" %}
		</figure>
		</article>
		<figure class="logo person">
			{% include "person.svg" %}
		</figure>
	</section>
	
	<section class="light-lavender-bg dark-olive-text" id="democracy">
		<article class="animated center">
			<h1 class="header-0">
			Creamos una plataforma donde tu participación tiene el poder de generar cambios reales.
			</h1>
			<h3 class="dark-lavender-text bolder">Juntos, podemos financiar esas iniciativas cruciales para nuestra comunidad, sin necesidad de esperar acciones gubernamentales.</h3>
		</article>
	</section>
	
	<section id="lip">
		<article class="animated light-green-bg">
		<h1 class="center">Democracia en Acción: Decide en Comunidad</h1>
		<figure class="logo container">
				{% include "community.svg" %}
		</figure>
		<div class="text-section">
			<p class="right">En Virto, cada voto cuenta para transformar tus ahorros en soluciones reales.</p>
			<p class="right boldest">Juntos, decidimos el futuro de nuestros espacios.</p>
			<a class="center-arrow">¡Crea tu comunidad ahora!
				<figure class="link-arrow color">
					{% include "see_more.svg" %}
				</figure>
			</a>
		</div>
		</article>
	</section>
	
	<section id="smart-contracts" class="cta white-bg">
		<article class="animated center dark-olive-text">
			<h2>Pero entonces, ¿Cómo facilitamos una gestión comunitaria?</h2>
			<div class="text-container left">
				<h3 class="bolder">Virto utiliza <span class="dark-green-text">blockchain</span> como una herramienta clave para organizar y ejecutar decisiones colectivas mediante contratos inteligentes. </h3>
				<h3 class="bolder">Así, automatizamos la distribución de fondos según las preferencias comunitarias. </h3>
			</div>
		</article>
	</section>

	<section class="cta dark-olive-bg">
		<article class="animated center light-green-text">
			<h2>Con Virto, tus acciones cotidianas se convierten en el cambio que deseas ver. </h2>
			<button class="light-lavender-bg dark-olive-text"><a href="https://forms.gle/hSjzyETwuGMadsaU8">¡Únete a nuestra comunidad hoy!</a></button>
		</article>
	</section>

<script>
    const observerCommunities = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('show');
            }
        });
    }, { threshold: 0.7 });

    document.querySelectorAll('#democracy .underlined').forEach(word => {
        observerCommunities.observe(word);
    });
</script>

</body>
