---
permalink: /comunidades/
title: Comunidades locales
layout: index.liquid
data:
  route: comunidades
---
<style>
	#comunities { height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; }
	#comunities h1 { font-size: 7rem; font-family: var(--font-primary); }
	#comunities h3 { font-family: var(--font-secondary); }
</style>

<body>
	<section id="comunities">
		<h1>Comunidades locales</h1>
		<h3>Próximamente</h3>
	</section>
<body>
