---
title: Virto Network
layout: index.liquid
---

<hr class="sticky-hack">
	{% include "nav.liquid" active: "", class: "fixed" %}
<section id="about">
</section>
<section id="team" class="team-grid">
</section>

<section id="communities">
	<article class="max">
	</article>
</section>

<section id="use-cases">
	<article class="max">
	</article>
</section>

<section id="for-developers">
	<article class="max">
</section>

<section id="blog">
	<article class="max">
	</article>
</section>

<section id="contact">
	<article class="max">
	</article>
</section>

<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });
document.addEventListener("DOMContentLoaded", function () {
    const teamMembers = [
        { platform: 'github', username: 'olanod' },
        { platform: 'github', username: 'darkforest0202' },
        { platform: 'github', username: 'S0c5' },
        { platform: 'github', username: 'pandres95' },
        { platform: 'github', username: 'johandroid' },
        { platform: 'github', username: 'b-avb' },
        { platform: 'github', username: 'ail3ngrimaldi' },
        { platform: 'linkedin', name: 'Camila Olano', image: 'https://media.licdn.com/dms/image/C4E03AQEtFZ7Gm_8_fQ/profile-displayphoto-shrink_200_200/0/1618617055495?e=1693440000&v=beta&t=cEfwYIuGiQloNvEyP9c5rm7U5YUXl339Rt4tP1WbjuE' },
        { platform: 'linkedin', name: 'Isabella Paz', image: 'https://media.licdn.com/dms/image/C4E03AQFC7dwPv5dkQA/profile-displayphoto-shrink_200_200/0/1566399674332?e=1693440000&v=beta&t=flsGg23c6bEpPmoTNdGTUgBJNeBQ74Oi-as3UFdTyVE' }
    ];

    const teamGrid = document.querySelector('.team-grid');

    teamMembers.forEach(member => {
        if (member.platform === 'github') {
            fetch(`https://api.github.com/users/${member.username}`)
                .then(response => response.json())
                .then(data => {
                    createCard(data.avatar_url, data.name || data.login);
                });
        } else if (member.platform === 'linkedin') {
            createCard(member.image, member.name);
        }
    });

    function createCard(imageUrl, name) {
        const card = document.createElement('div');
        card.classList.add('team-card');
        card.innerHTML = `
            <img src="${imageUrl}" alt="${name}">
            <h3>${name}</h3>
        `;
        teamGrid.appendChild(card);
    }
});


</script>
