---
title: Valibre
layout: default.liquid
data:
  caption: Decentralization for the masses
---

<style>
@keyframes flap {
	0% { transform: rotateY(0) }
	50% { transform: rotateY(0) }
	51.5% { transform: rotateY(25deg) }
	53% { transform: rotateY(10deg) }
	54% { transform: rotateY(10deg) }
	56% { transform: rotateY(30deg) }
	58% { transform: rotateY(0) }
	100% { transform: rotateY(0) }
}
section { display: flex; flex-direction: column; }
section#projects {
	background: linear-gradient(to right, #fcfcfc 50%, #fff 50%);
	box-sizing: border-box;
	padding: 2rem 1.5rem;
}

#logo { margin: auto; }
#logo svg { width: 60vmin; margin: auto; max-width: 500px; display: block; }
#logo:hover path { animation: none; }
#logo path {
	animation: flap 10s linear infinite 500ms;
	transition: transform 400ms;
	transform-origin: center;
}
#logo path:hover { transform: rotateY(25deg); }
#logo figcation { text-align: center; font-weight: bold;  }
#logo h1 { margin-bottom: 0.3rem; color: white; }
#logo p { color: rgba(255, 255, 255, 0.8); font-size: 0.9em; margin-top: 0.3rem; }

#gh { fill: white; transition: color 200ms; }
#gh:hover, #gh:active { fill: var(--text) }

:is(#projects) p, ul { line-height: 1.6em; max-width: 600px; margin: 1rem auto; }
#projects img { margin: 2rem auto; }
</style>

<section id="home">
	<figure id="logo" title="Valibre">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.5 60.21">
			<path d="m 30.116,31.47 v 23.45 L 5.3,28.74 V 5.29 Z" style="fill:#41e506" />
			<path d="m 33.39,31.47 v 23.45 l 24.8,-26.19 V 5.29 Z" style="fill:#46f805" />
		</svg>
		<figcation>
		<h1>{{ page.title }}</h1>
		<p>{{ page.data.caption }}</p>
		</figcation>
	</figure>

	<nav>
		<a title="Action is on Github" href="https://github.com/valibre-org"><svg id="gh" height="30" viewBox="0 0 11.5 11.21"><path d="M 5.7460441,-1.0697021e-7 C 2.572808,-1.0697021e-7 0,2.5728099 0,5.7467499 0,8.28569 1.646414,10.4394 3.9299441,11.19964 c 0.287514,0.0526 0.392289,-0.12489 0.392289,-0.27729 0,-0.13617 -0.0049,-0.49776 -0.0078,-0.9771899 C 2.7159971,10.29229 2.378742,9.17469 2.378742,9.17469 2.117333,8.51077 1.740567,8.3340201 1.740567,8.3340201 c -0.521759,-0.3563001 0.03951,-0.34925 0.03951,-0.34925 0.576791,0.0406 0.8801801,0.5923198 0.8801801,0.5923198 0.512586,0.87806 1.3451419,0.62441 1.6725199,0.4773102 0.05221,-0.37113 0.2003771,-0.6244201 0.364772,-0.768 C 3.421552,8.14141 2.079938,7.6482201 2.079938,5.4461898 2.079938,4.8189501 2.303952,4.30601 2.6715461,3.90419 2.612276,3.7588499 2.415077,3.1746499 2.7276362,2.3833699 c 0,0 0.4826,-0.15452 1.5804438,0.5891401 0.458258,-0.1277101 0.9500311,-0.1912101 1.4386279,-0.1933202 0.4878922,0.00201 0.9796643,0.0656 1.4386282,0.1933202 1.097139,-0.7436601 1.5786799,-0.5891401 1.5786799,-0.5891401 0.3136201,0.79128 0.1164172,1.37548 0.05715,1.5208201 0.3683,0.40182 0.5909032,0.9147601 0.5909032,1.5419998 0,2.2076802 -1.3437312,2.6934502 -2.623961,2.8356201 C 6.9944832,8.4592601 7.17828,8.80992 7.17828,9.34614 c 0,0.768 -0.0071,1.38783 -0.0071,1.57621 0,0.15382 0.103364,0.33267 0.395111,0.27658 2.28177,-0.76164 3.926773,-2.9139401 3.926773,-5.4521801 0,-3.17394 -2.5731608,-5.74675000697021 -5.747103,-5.74675000697021" /></svg></a>
	</nav>
</section>

<section id="projects">
	<h2>PLIP & VLN</h2>

	<img src="img/plip_logo.svg" alt="PLIP logo" width="200px">

	<p>
	The <strong>People Local Interactions Protocol</strong> implemented in the
	<strong>Valibre Network</strong> is the team's primary focus and shining star.

	<p>
	<abbr title="People Local Interactions Protocol">PLIP</abbr> defines the 
	<strong>decentralized infrastructure</strong> that allows individuals and communities 
	to transact securely in a <strong>peer-to-peer</strong> way, it describes how to get the
	best mix of user and developer friendliness without compromising privacy or decentralization.
	</p> 

	<p>
	The <abbr title="Valibre Network">VLN</abbr> is a <strong>parachain</strong> 
	designed to become the bridge of <a href="https://kusama.network/">Kusama</a> 
	to the <i>real world</i>, where communities come together to create all sort of decentralized
	applications and services that involve crypto and real world assets such as ...
	</p>

	<ul>
		<li>Market places</li>
		<li>Fiat-Crypto on&off ramps</li>
		<li>Payment gateways</li>
		<li><i>... and much more!</i></li>
	</ul>

	<p>
	Learn more about the protocol with the <del datetime="2020-01-01T00:00:00Z">whitepaper</del> 
	<a href="PLIP.pdf">Coloring Book 📘</a>(⚠️ 👷)
	</p>

	</p>
</section>
