---
title: Virto Network
layout: index.liquid
---

<hr class="sticky-hack">
	{% include "nav.liquid" active: "", class: "fixed" %}
<section id="about">
</section>
<section id="team">
    <ul class="team-grid">
		{% for team_member in site.data.index.team_members %}
		    <li>
                <div class="team-card">
                    <a href={{ team_member.link }}>
                        <img src="{{ team_member.avatar }}" alt="{{ team_member.name }}" height="38">
                        <h3>{{ team_member.name }}</h3>
                    </a>
                </div>
		    </li>
		{% endfor %}
	</ul>
</section>


<section id="communities">
	<article class="max">
	</article>
</section>

<section id="use-cases">
	<article class="max">
	</article>
</section>

<section id="for-developers">
	<article class="max">
</section>

<section id="blog">
	<article class="max">
	</article>
</section>

<section id="contact">
	<article class="max">
	</article>
</section>

<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });


</script>
