---
title: Virto Network
layout: index.liquid
---

<hr class="sticky-hack">
	{% include "nav.liquid" active: "", class: "fixed" %}
<section id="home">
	<article class="max">
	<div class="text-section">
			<p>¡Bienvenido a Virto!</p>
			<h1>Aquí podrás <br>construir y comerciar con comunidades <span>en todo el mundo.</span></h1>
			<p>Sigue con nosotros y descubre cómo hacerlo.</p>
			<button>Aprender cómo</button>
		</div>
		<figure class="logo">
		{% include "Ilustraciones_1_Slider 1.svg" %}
		</figure>
	 </article>
</section>
<section id="presentacion">
	<article>
	<h2 class="title">Te presentamos<br>
	<span>Virto®</span>
	</h2>
	<figure class="logo">
		{% include "presentamos_virto.svg" %}
		</figure>
		</article>
		<article>
		<h3 class="subtitle">Una infraestructura descentralizada
basada en el ecosistema <strong>Polkadot.</strong></h3>
		<p class="small-paragraph">Te ofrecemos herramientas para integrar la tecnología
blockchain a tu negocio, mejorando la eficiencia operativa,
reduciendo costos y brindándote más beneficios.</p>
		<a class="link">Conoce las herramientas</a>
	</article>
</section>

<section id="not-programmer">
	<article>
	<h2 class="title">¿No eres programador?<br>
	<span>¡No hay problema!</span></h2>
	<p class="medium-paragraph">Con Virto® no necesitas ser un experto en tecnología<br> para disfrutar de los beneficios de nuestra<br> infraestructura.</p>
	<button>Aprender cómo</button>
	<figure class="arrow">
		{% include "arrow_down.svg" %}
	</figure>
	</article>
</section>
<section id="here-you-can">
<h3 class="subtitle dark">Aquí podrás</h3>
	<article class="three-column-section">
		<article>
		<img>
			{% include "build.svg" %}
		</img>
		<h3 class="subtitle dark">¿Por qué Virto?</h3>
		<p class="small-paragraph grey">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
		<a class="link dark center-arrow" href="#">
			Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
		</article>
		<article>
		<img>
			{% include "window.svg" %}
		</img>
		<h3 class="subtitle dark">Partners</h3>
		<p class="small-paragraph grey">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
		<a class="link dark center-arrow" href="#">
			Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
		</article>
		<article>
		<img>
			{% include "group.svg" %}
		</img>
		<h3 class="subtitle dark">Unirte a comunidades locales</h3>
		<p class="small-paragraph grey">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
		<a class="link dark center-arrow" href="#">
			Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
		</article>
	</article>
		<h3 class="subtitle dark right"><a class="center-arrow" href="#">¿Listo para empezar?
		<figure class="link-arrow">{% include "ready_to_start.svg" %}</figure>
		</a></h3>
</section>

<section id="local-community">
	<figure class="logo arrow-relative">
		{% include "arrow_left.svg" %}
		</figure>
	<article>
	<article>
		<h2 class="title dark">¿Te has preguntado cómo puedes marcar <span>la diferencia en tu comunidad local?
	</span></h2>
		<figure class="logo">
		{% include "build_machine.svg" %}
		</figure>
	</article>
	<article>
		<h3 class="medium-paragraph dark left">En Virto®, te lo facilitamos.</h3>
		<p class="small-paragraph grey">Por cada transacción que realizas en nuestro ecosistema, un porcentaje se destina para un fondo común que beneficia a la comunidad a la cual perteneces.</p>
		<a class="link dark center-arrow">Ver más
		<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
	</article>
	</article>
</section>

<section id="you-decide">
	<h3 class="subtitle dark">Tú decides y ayudas a mejorar tu entorno.</h3>
	<h2 class="title dark">¡Así, juntos hacemos un <br>mundo mejor!
	<figure class="logo center">
		{% include "underline.svg" %}
	</figure>
	</h2>
	<button>Aprender cómo</button>
	<article>
	<ul>
	</ul>
	</article>
</section>

<section id="team">
    <ul class="team-grid">
		{% for team_member in site.data.index.team_members %}
		    <li>
                <div class="team-card">
                    <a href={{ team_member.link }}>
                        <img src="{{ team_member.avatar }}" alt="{{ team_member.name }}" height="38">
                        <h3>{{ team_member.name }}</h3>
                    </a>
                </div>
		    </li>
		{% endfor %}
	</ul>
</section>

<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });


</script>
