---
title: Virto Network
layout: index.liquid
---

<hr class="sticky-hack">
	{% include "nav.liquid" active: "", class: "fixed" %}

<section id="home">
	<article class="max">
	<div class="text-section">
			<p>¡Bienvenido a Virto!</p>
			<h1>Aquí podrás <br>construir y comerciar con comunidades <span>en todo el mundo.</span></h1>
			<p>Sigue con nosotros y descubre cómo hacerlo.</p>
			<button>Aprender cómo</button>
		</div>
		<figure class="logo image">
		{% include "Ilustraciones_1_Slider 1.svg" %}
		</figure>
	 </article>
</section>

<section id="presentacion">
	<article class="max">
	<h2 class="title light-green-text">Te presentamos<br>
	<span class="light-lavender-text">Virto®</span>
	</h2>
	<figure class="logo">
		{% include "presentamos_virto.svg" %}
		</figure>
		</article>
		<article>
		<h3 class="subtitle light-green-text">Una infraestructura descentralizada
basada en el ecosistema <strong>Polkadot.</strong></h3>
		<p class="small-paragraph light-green-text">Te ofrecemos herramientas para integrar la tecnología
blockchain a tu negocio, mejorando la eficiencia operativa,
reduciendo costos y brindándote más beneficios.</p>
		<a class="link light-green-text">Conoce las herramientas</a>
	</article>
</section>

<section id="not-programmer">
	<article>
	<h2 class="title light-green-text">¿No eres programador?<br>
	<span class="light-lavender-text">¡No hay problema!</span></h2>
	<p class="medium-paragraph light-green-text">Con Virto® no necesitas ser un experto en tecnología<br> para disfrutar de los beneficios de nuestra<br> infraestructura.</p>
	<button>Aprender cómo</button>
	<figure class="arrow">
		{% include "arrow_down.svg" %}
	</figure>
	</article>
</section>
<section id="here-you-can">
<h3 class="subtitle dark-olive-text">Aquí podrás</h3>
	<article class="three-column-section">
		<article>
		<img>
			{% include "build.svg" %}
		</img>
		<h3 class="subtitle dark-olive-text">¿Por qué Virto?</h3>
		<p class="small-paragraph grey-text">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
		<a class="link dark-olive-text center-arrow" href="#">
			Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
		</article>
		<article>
		<img>
			{% include "window.svg" %}
		</img>
		<h3 class="subtitle dark-olive-text">Partners</h3>
		<p class="small-paragraph grey-text">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
		<a class="link dark-olive-text center-arrow" href="#">
			Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
		</article>
		<article>
		<img>
			{% include "group.svg" %}
		</img>
		<h3 class="subtitle dark-olive-text">Unirte a comunidades locales</h3>
		<p class="small-paragraph grey-text">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
		<a class="link dark-olive-text center-arrow" href="#">
			Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
		</article>
	</article>
		<h3 class="subtitle dark-olive-text right"><a class="center-arrow dark" href="#">¿Listo para empezar?
		<figure class="link-arrow">{% include "ready_to_start.svg" %}</figure>
		</a></h3>
</section>

<section id="local-community">
	<figure class="logo arrow-relative">
		{% include "arrow_left.svg" %}
		</figure>
	<article>
	<article>
		<h2 class="title dark-olive-text">¿Te has preguntado cómo puedes marcar <span class="light-green-text">la diferencia en tu comunidad local?
	</span></h2>
		<figure class="logo">
		{% include "build_machine.svg" %}
		</figure>
	</article>
	<article>
		<h3 class="medium-paragraph dark-olive-text left">En Virto®, te lo facilitamos.</h3>
		<p class="small-paragraph grey-text">Por cada transacción que realizas en nuestro ecosistema, un porcentaje se destina para un fondo común que beneficia a la comunidad a la cual perteneces.</p>
		<a class="link dark-olive-text center-arrow">Ver más
		<figure class="link-arrow">{% include "see_more.svg" %}</figure>
		</a>
	</article>
	</article>
</section>

<section id="you-decide">
	<h3 class="subtitle dark-olive-text">Tú decides y ayudas a mejorar tu entorno.</h3>
	<h2 class="title dark-olive-text">
		<span>¡Así, juntos hacemos un </span>
		<span>mundo mejor!</span>
		<figure class="logo center">
			{% include "underline.svg" %}
		</figure>
	</h2>
	<button>Aprender cómo</button>
	{% assign matrix_to = "#virto-network:virto.community?via=virto.community" %}
	<article class="max">
		<a title="E-mail" href="mailto:contact@virto.team" class="dark-olive-text">
			{% include "email.svg" %}
			<span>Good Ol' E-mail</span>
		</a>
		<a title="Community" href="https://matrix.to/#/{{ matrix_to }}" class="dark-olive-text">
			{% include "element.svg" %}
			<span>Chat with the community!</span>
		</a>
		<a title="Github" href="https://github.com/virto-network" class="dark-olive-text">
			{% include "gh.svg" %}
			<span>Follow our Github</span>
		</a>
	</article>
</section>

<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });


</script>
