---
title: Virto Network
layout: index.liquid
data:
  route: home
---

	{% include "nav.liquid" active: "", class: "fixed" %}

<section id="home">
	<article class="max animated">
		<div class="text-section dark-olive-text">
			<p class="regular">¡Bienvenido a Virto!</p>
			<h1 class="bold">Aquí podrás construir y comerciar con comunidades <span>en todo el mundo.</span></h1>
			<p class="regular">Sigue con nosotros y descubre cómo hacerlo.</p>
			<button class="regular">Aprender cómo</button>
			<a href="#footer" class="scroll-down-link dark-olive-text center-arrow">Ir al final
				<figure class="link-arrow">
						{% include "down.svg" %}
				</figure>
	 		</a>
		</div>
		<div class="buttons-container">
			<figure>
				{% include "right.svg" %}
			</figure>
			<figure>
				{% include "left.svg" %}
			</figure>
		</div>
		<figure class="arrow-right">
				{% include "arrow_right.svg" %}
			</figure>
		<figure class="logo image">
			{% include "Ilustraciones_1_Slider 1.svg" %}
		</figure>
	</article>
</section>

<section id="presentacion">
	<article class="max animated">
		<div class="column">
			<h2 class="bold light-green-text">Te presentamos</h2>
			<h2 class="bold"><span class="light-lavender-text">Virto®</span></h2>
			<figure class="logo">
				{% include "presentamos_virto.svg" %}
			</figure>
		</div>
		<div class="text-section">
			<h3 class="subtitle regular light-green-text">Una infraestructura descentralizada basada en el ecosistema <strong>Polkadot.</strong></h3>
			<p class="light-green-text regular">Te ofrecemos herramientas para integrar la tecnología blockchain a tu negocio, mejorando la eficiencia operativa, reduciendo costos y brindándote más beneficios.</p>
			<a class="bold light-green-text center-arrow">Conoce las herramientas
				<figure class="link-arrow color">
					{% include "see_more.svg" %}
				</figure>
			</a>
		</div>
	</article>
</section>

<section id="not-programmer" class="animated">
	<h2 class="bold light-green-text">¿No eres programador?</h2>
	<h2 class="bold"><span class="light-lavender-text">¡No hay problema!</span></h2>
	<article class="max">
		<h3 class="subtitle regular light-green-text center">Con Virto® no necesitas ser un experto en tecnología para disfrutar de los beneficios de nuestra infraestructura.</h3>
		<button>Aprender cómo</button>
		<figure class="arrow">
			{% include "arrow_down.svg" %}
		</figure>
	</article>
</section>

<section id="here-you-can">
	<h3 class="subtitle boldest dark-olive-text">Aquí podrás</h3>
	<ul class="auto-grid max">
		<li class="animated">
			<img src="img/build.svg" alt="Define when content is decided"/>
			<h3 class="subtitle bolder dark-olive-text">¿Por qué Virto?</h3>
			<p class="grey-text regular">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
			<a class="bold dark-olive-text center-arrow" href="#">
				Ver más
				<figure class="link-arrow">{% include "see_more.svg" %}</figure>
			</a>
		</li>
		<li class="animated">
			<img src="img/window.svg" alt="Define when content is decided"/>
			<h3 class="subtitle bolder dark-olive-text">Partners</h3>
			<p class="grey-text regular">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
			<a class="bold dark-olive-text center-arrow" href="#">
				Ver más
				<figure class="link-arrow">{% include "see_more.svg" %}</figure>
			</a>
		</li>
		<li class="animated">
			<img src="img/group.svg" alt="Define when content is decided"/>		
			<h3 class="subtitle bolder dark-olive-text">Unirte a comunidades locales</h3>
			<p class="grey-text regular">Podrás tener voz y voto. Además podrás beneficiarte de ellos.</p>
			<a class="bold dark-olive-text center-arrow" href="#">
				Ver más
				<figure class="link-arrow">{% include "see_more.svg" %}</figure>
			</a>
		</li>
	</ul>
		<h3 class="dark-olive-text right">
			<a class="center-arrow dark-olive-text boldest" href="#">¿Listo para empezar?
				<figure class="link-arrow">
					{% include "ready_to_start.svg" %}
				</figure>
			</a>
		</h3>
</section>

<section id="local-community">
	<h2 class="bold dark-olive-text fixed-width animated">¿Te has preguntado cómo puedes marcar <span class="light-green-text">la diferencia en tu comunidad local?</span></h2>
	<article class="max animated">
			<figure class="img-container logo build-machine">
				<img src="img/build_machine.svg" alt="Define when content is decided"/>
			</figure>
		<div class="text-section">
			<h3 class="dark-olive-text regular">En Virto®, te lo facilitamos.</h3>
			<p class="grey-text regular">Por cada transacción que realizas en nuestro ecosistema, un porcentaje se destina para un fondo común que beneficia a la comunidad a la cual perteneces.</p>
			<a class="bold dark-olive-text center-arrow">Ver más
			<figure class="link-arrow">{% include "see_more.svg" %}</figure>
			</a>
		</div>
	</article>
</section>

<section id="you-decide">
	<article class="animated">
		<h3 class="subtitle bolder dark-olive-text">Tú decides y ayudas a mejorar tu entorno.</h3>
		<h2 class="dark-olive-text bolder">
			<span>¡Así, juntos hacemos un </span>
			<span class="underlined-element">mundo mejor!</span>
		</h2>
		<button>Aprender cómo</button>
		{% assign matrix_to = "#virto-network:virto.community?via=virto.community" %}
		<ul class="max">
			<a title="E-mail" href="mailto:contact@virto.team" class="dark-olive-text thin">
				{% include "email.svg" %}
				<span>Good Ol' E-mail</span>
			</a>
			<a title="Community" href="https://matrix.to/#/{{ matrix_to }}" class="dark-olive-text thin">
				{% include "element.svg" %}
				<span>Chat with the community!</span>
			</a>
			<a title="Github" href="https://github.com/virto-network" class="dark-olive-text thin">
				{% include "gh.svg" %}
				<span>Follow our Github</span>
			</a>
		</ul>
	</article>
</section>
<script>
const $ = document.querySelector.bind(document),
	$$ = document.querySelectorAll.bind(document);
const addViewedClass = ([e], ob) => {
	e.target.classList.add('viewed');
	ob.unobserve(e.target);
};
const whenVisible = (elements, fn, opts) => {
	const ob = new IntersectionObserver(fn, opts);
	$$(elements).forEach(e => ob.observe(e));
};
const makeSticky = ([br]) =>
	br.target.nextElementSibling.classList.toggle('fixed', br.intersectionRatio === 1);

whenVisible('main>section', addViewedClass, { threshold: 0.2 });
whenVisible('.sticky-hack', makeSticky, { threshold: [0, 1] });

const observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    if (entry.intersectionRatio > 0) {
      entry.target.classList.add('animate');
      observer.unobserve(entry.target);
    }
  });
}, { threshold: 0.2 }); 

const animatedElements = document.querySelectorAll('.animated');

animatedElements.forEach(element => {
  observer.observe(element);
});

document.fonts.ready.then((fontFaceSet) => {
	document.body.classList.remove('hidden');
})

</script>
