---
permalink: /servicios/
title: Servicios
layout: index.liquid
data:
  route: servicios
---
<style>
 	/* Navbar */
	#nav { background-color: var(--clr-blue-light); }
	#nav a:not(#about-link) { color: var(--clr-olive-darker); }
	#menu-dropdown a { color: var(--clr-blue-light) !important; }
	#menu-icon svg line { stroke: var(--clr-olive-darker); }
	#virto-logo svg path { fill: var(--clr-olive-darker); }

	/*These should be on common.css, keep here until final refactor is done*/
	section { padding: 0 !important; align-items: center; justify-content: center; } 
	article { margin: 1em 7.8vw; flex-direction: column; gap: 2em; }
	
	#services { max-height: 90vh; }
	#services article { flex-direction: row; flex-wrap: wrap; }
	#services div { display: flex; flex-direction: column; max-width: 650px; justify-content: center;}

	#container-header { position: relative; right: 2%; align-self: start; }
	#container-header:not(.text) { width: clamp(250px, 35vw, 800px); }
	
	/*svg animation*/
	.hive>path { opacity: 0; }
	.path1 { animation: appear 0.5s ease-in-out 0.3s forwards; }
	.path2 { animation: appear 0.5s ease-in-out 0.7s forwards; }
	.path3 { animation: appear 0.5s ease-in-out 1s forwards; }
	.path4 { animation: appear 0.5s ease-in-out 1.3s forwards; }
	.path5 { animation: appear 0.5s ease-in-out 1.5s forwards; }

	@keyframes appear {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	#services-list { flex-wrap: wrap; margin: 2em 0;}
	img { width: 120px; }
	#services-list ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto;
		gap: 2rem;
		padding-top: 2rem;
		list-style: none;
	}
	ul li:last-child { grid-row: 2;	grid-column: span 2; }
	ul li { 
		padding: 2rem;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	.text-container h4 { margin-bottom: 1rem; }
	.text-container h5 { line-height: 1.5; padding-right: 1rem; }

	#solution-as-service { justify-content: space-evenly; align-items: center; flex-direction: row; }
	.text-section { max-width: 960px; }
	.text-section h3 { max-width: 740px; }

	/*This class will be on common.css in order to use it for every cta section */ 

	@media (max-width: 750px) {
		section { flex-direction: column; }
		article { margin: 2em 1em; }
		#services-list ul, #solution-as-service { display: flex; flex-direction: column; flex-wrap: wrap; }
		ul li { flex-direction: column; }
		img { align-self: center; margin-top: 1rem; }
	}
</style>

	<section id="services" class="light-blue-bg">
		<article class="animated">
			<figure class="logo" id="container-header">
					{% include "serv.svg" %}
			</figure>
			<div class="text-section">
				<h3>Sumergirse en la Web 3.0 puede parecer abrumador, pero no estás solo en este viaje.</h3>
				<h3>En Virto, no solo te proporcionamos las herramientas; te acompañamos y guiamos en cada paso para <span class="bolder dark-lavender-text">adaptar tu negocio al nuevo horizonte digital.<span></h3>
			</div>
		</article>
	</section>

	<section id="services-list">
		<article>
			<h1 id="header-1" class="animated white-text">Servicios esenciales de Virto</h1>
			<ul class="animated">
					{% for service in site.data.index.services %}
					<li class="light-blue-bg dark-olive-text">
						<div class="text-container">
							<h4 class="bolder">{{ service.title }}</h4>
							<h5 class="bold">{{ service.description }}</h5>
						</div>
						<img src="{{ service.icon.url }}" alt="{{ service.icon.alt }}"></img>
					</li>
				{% endfor %}
			</ul>
		</article>
	</section>

	<section class="white-bg">
		<article class="animated" id="solution-as-service">
			<div class="text-section">
				<h2 class="dark-lavender-text">¿Eres una persona o comunidad con propósito comercial?</h2>
				<h3>Virto adopta un enfoque de <strong class="dark-lavender-text">'Solution as a Service'</strong>, desarrollando herramientas para montar el negocio a la medida de tus necesidades.</h3>
			</div>
			<figure class="logo">
				{% include "in_progress.svg" %}
			</figure>
		</article>
	</section>

	<section class="cta dark-olive-bg light-blue-text">
		<article class="animated">
			<h2 class="header-1 center">¡Queremos hacerte la vida lo más fácil posible!</h2>
			<h3 class="center">Te contactaremos para brindarte toda la asesoría que necesites.</h3>
			<button class="medium-lavender-bg"><a href="https://forms.gle/hSjzyETwuGMadsaU8">Registrate acá</a></button>
		</article>
	</section>