<footer id="footer" class="dark-olive-bg">
        <a href="#" class="logo">
            {% include "virto_logo_small.svg" %}
        </a>
        <nav>
            <ul class="nav-links bolder">
				{% for footer in site.data[site.data.lang].footer %}
					<li><a href={{ footer.route }} >{{ footer.link }}</a></li>
				{% endfor %}
            </ul>
        </nav>
			<a id="scroll-up" class="scroll-up-link lightest-lavender-text center-arrow">{{ site.data[site.data.lang].globals.go-up }}
				<figure class="link-arrow">
						{% include "up.svg" %}
				</figure>
	 		</a>
</footer>
<script>
	let scrollLink = document.querySelector('#scroll-up');

	scrollLink.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			behavior: "smooth"
		})
	});
</script>
