<footer id="footer" class="dark-olive-bg">
        <a href="#" class="logo">
            {% include "virto_logo_small.svg" %}
        </a>
        <nav>
            <ul class="nav-links bolder">
			<div class="hide">
				<li><a href="/casos-de-uso/" >Casos de uso</a></li>
                <li><a href="/comunidades-locales/">Comunidades locales</a></li>
                <li><a href="#">Contacto</a></li>
			</div>
				<li><a href="/sobre-virto/" >Sobre Nosotros</a></li>
				<li><a href="/servicios/" >Servicios</a></li>
                <li><a href="/blog/" >Blog</a></li>
                <li><a href="/docs/whitepaper.html" >Whitepaper</a></li>
            </ul>
        </nav>
			<a id="scroll-up" class="scroll-up-link lightest-lavender-text center-arrow">Volver arriba
				<figure class="link-arrow">
						{% include "up.svg" %}
				</figure>
	 		</a>
</footer>
<script>
	let scrollLink = document.querySelector('#scroll-up');

	scrollLink.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			behavior: "smooth"
		})
	});
</script>
