{% assign matrix_to = "#virto-network:virto.community?via=virto.community" %}
<footer>
	<div class="max">
		<a title="Github" href="https://github.com/virto-network">
			{% include "gh.svg" %}
			<span>Follow our Github</span>
		</a>
		<a title="Community" href="https://matrix.to/#/{{ matrix_to }}">
			{% include "element.svg" %}
			<span>Chat with the community!</span>
		</a>
		<a title="E-mail" href="mailto:contact@virto.team">
			{% include "email.svg" %}
			<span>Good Ol' E-mail</span>
		</a>
	</div>
</footer>
