<footer id="footer">
        <a href="#" class="logo">
            {% include "virto_logo_small.svg" %}
        </a>
        <nav>
            <ul class="nav-links bolder">
                <li><a href="">Sobre Virto</a></li>
                <li><a href="#">Comunidades locales</a></li>
                <li><a href="#">Para desarrolladores</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
</footer>
