<footer>
    <div class="max footer-container">
        <a href="#" class="logo">
            {% include "virto_logo_small.svg" %}
        </a>
        <div class="nav-container">
            <nav>
                <ul class="nav-links bolder">
                    <li><a href="">Sobre Virto</a></li>
                    <li><a href="#">Comunidades locales</a></li>
                    <li><a href="#">Para desarrolladores</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <nav>
            <ul class="secondary-links thin">
                <li><a href="#">© 2023 Virto</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacidad</a></li>
                <li><a href="#">Cookies</a></li>
            </ul>
        </nav>
    </div>
</footer>
