<nav class="{{ class }}">
	<div class="max row">
		<a href="/#home" class="logo">
			{% include "virto_logo.svg" %}
		</a>
	<a {% if active == "blog" %}class="active"{% endif %} href="/blog/">
			<svg width="28" height="28" viewBox="0 0 50 50"><path d="m10 39h22m-22-5.4h22m-17-30h-9.5c-0.14 0-0.25 0.11-0.25 0.25v41c0 0.14 0.11 0.25 0.25 0.25h31c0.14 0 0.25-0.11 0.25-0.25v-4.1l6.3-0.72c0.13-0.015 0.22-0.13 0.21-0.26l-4.2-39c-0.013-0.11-0.29-0.33-0.4-0.34zm-5 25h22m-22-19h22c0.096 0 0.17 0.035 0.17 0.078v13c0 0.044-0.077 0.078-0.17 0.078h-22c-0.096 0-0.17-0.035-0.17-0.078v-13c0-0.043 0.077-0.078 0.17-0.078zm-4.7-6h31c0.14 0 0.25 0.11 0.25 0.25v41c0 0.14-0.11 0.25-0.25 0.25h-31c-0.14 0-0.25-0.11-0.25-0.25v-41c0-0.14 0.11-0.25 0.25-0.25z" style="fill:none;stroke-linecap:round"/></svg>
			Blog</a>
	<a {% if active == "paper" %}class="active"{% else %}href="/docs/whitepaper.html"{% endif %} data-status="draft">
			<svg width="28" height="28" viewbox="0 0 50 48"><path d="M41.74 45.38 8.64 45.27c-2.1 0-5.41-.72-6.82-3.41-1.41-2.68-.83-5.99 1.41-8.02H37.32c-2.24 2.03-2.82 5.34-1.41 8.02 1.16 2.21 3.43 3.52 5.83 3.51.52 0 1.04-.07 1.56-.2 2.92-.73 4.98-3.38 4.98-5.05V1.37c0-.17-.17-.31-.38-.31h-33.32c-.21 0-.38.14-.38.31l-.02 32.47" style="fill:none;stroke-linejoin:round"></svg>
			Whitepaper</a>
	</div>
</nav>
