<head>
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/variables.css">
</head>
<nav id="nav" class="top-nav" aria-label="Principal">
	<div class="max row bold">
		<a {% if page.data.route == "home"%}current{%endif%}" href="/" id="virto-logo" role="menuitem" aria-label="Inicio">
			{% include "virto_logo.svg" %}
		</a>
		<div class="hide">
		<a {% if page.data.route == "about"%}current{%endif%}" href="/sobre-virto/" id="about-link" role="menuitem" aria-label="Sobre Virto">
		Sobre Virto
		</a>
		<a {% if page.data.route == "casos-de-uso"%}current{%endif%}" href="/casos-de-uso/" role="menuitem" aria-label="Casos de uso">
			Casos de uso
		</a>
		<a {% if page.data.route == "servicios"%}current{%endif%}" href="/servicios/" role="menuitem" aria-label="Servicios">
			Servicios
		</a>
		<a {% if page.data.route == "comunidades-locales"%}current{%endif%}" href="/comunidades-locales/" role="menuitem" aria-label="Comunidades locales">
				Comunidades locales
			</a>
			<a {% if page.data.route == "contacto"%}current{%endif%}" href="/contacto/" role="menuitem" aria-label="Contacto">
				Contacto
			</a>
		</div>
		<a {% if page.data.route == "whitepaper"%}current{%endif%}" href="/docs/whitepaper.html" role="menuitem" aria-label="Para desarrolladores">
			Whitepaper
		</a>
		<a {% if page.data.route == "blog"%}current{%endif%}" href="/blog/" role="menuitem" aria-label="Blog">
			Blog
		</a>
		<a id="menu-icon" class="menu-icon" aria-label="Abrir menú" tabindex="1">
			<svg width="30" height="30" viewBox="-2 -2 34 34" aria-labelledby="Icono menu mobile">
				<title id="Icono menu mobile">Menu mobile</title>
				<line x1="2" y1="7" x2="28" y2="7" stroke="#DECFF1" stroke-width="3" stroke-linecap="round"/>
				<line x1="28" y1="17" x2="15" y2="17" stroke="#DECFF1" stroke-width="3" stroke-linecap="round"/>
				<line x1="2" y1="27" x2="28" y2="27" stroke="#DECFF1" stroke-width="3" stroke-linecap="round"/>
			</svg>
		</a>
		<nav id="menu-dropdown" aria-label="Secundaria">
		    <a id="close-menu" class="close-menu" aria-label="Cerrar menú"></a>
			<div class="hide">
			<a {% if page.data.route == "about"%}current{%endif%}" href="/sobre-virto/" role="menuitem" aria-label="Sobre Virto">
				Sobre Virto
			</a>
			<a {% if page.data.route == "casos-de-uso"%}current{%endif%}" href="/casos-de-uso/" role="menuitem" aria-label="Casos de uso">
				Casos de uso
			</a>
			<a {% if page.data.route == "servicios"%}current{%endif%}" href="/servicios/" role="menuitem" aria-label="Servicios">
				Servicios
			</a>
			<a {% if page.data.route == "comunidades-locales"%}current{%endif%}" href="/comunidades-locales/" role="menuitem" aria-label="Comunidades locales">
				Comunidades locales
			</a>
				<a {% if page.data.route == "contacto"%}current{%endif%}" href="/contacto/" role="menuitem" aria-label="Contacto">
					Contacto
				</a>
			</div>
			<a {% if page.data.route == "whitepaper"%}current{%endif%}" href="/docs/whitepaper.html" role="menuitem" aria-label="Para desarrolladores">
				WHITEPAPER
			</a>
			<a {% if page.data.route == "blog"%}current{%endif%}" href="/blog/" role="menuitem" aria-label="Blog">
				BLOG
			</a>
		</nav>
	</div>
</nav>
