<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<title>{{ page.title }}</title>
	
	<meta name="theme-color" content="#3A3387">
	<link rel="stylesheet" href="css/{{ page.slug }}.css">
	<style>
	:root { --color-black: #333; --color-main: #3A3387; --color-main2: #9A337D; --color-alt: #00517E; --header-height: calc(3rem + 0.5vh);  }
	html, body { margin: 0; padding: 0; min-height: 100%; overflow-x: hidden; }
	body { display: flex; flex-direction: column; font-family: sans-serif; color: var(--color-black); }
	header { height: var(--header-height); flex-shrink: 0; }
	header nav { height: 100%; display: flex; flex-direction: row-reverse; margin: auto; max-width: 90vmin; }
	header nav a { padding: 1rem; color: gray }
	main { flex: 1; }
	footer { padding: calc(1rem + 0.8vmin); display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap; }
	footer a {
		border: 1px solid lightgray;
		border-radius: 0.5rem;
		display: inline-block;
		height: 2.2rem;
		line-height: 2.2rem;
		padding: 0.4rem 1rem;
		text-decoration: none;
		color: var(--color-black);
		font-weight: bold;
		margin: 0.5rem;
	}
	footer svg { vertical-align: middle; margin-right: 0.5rem; fill: #CCC; width: 2rem; }
	footer a:hover { border: 1px solid var(--color-main2); }
	footer a:hover svg { fill: var(--color-main); }
	</style>
</head>

<body>
	<header>
		<nav><!-- <a href="#">ES</a> --></nav>
	</header>
	<main>
		{{ page.content }}
	</main>
	<footer>
		<a id="gh" title="Follow us on Github" href="https://github.com/virto-network">{% include "gh.svg" %} Check us on Github</a>
		<a href="https://matrix.to/#/#virto-network:virto.community">{% include "element.svg" %} Chat in our community!</a>
		<a href="mailto:contact@virto.team">{% include "email.svg" %} A formal message?</a>
	</footer>
</body>

</html>
