<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<title>{{ page.title }}</title>
	
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00ccff">
	<meta name="theme-color" content="#00ccff">
	<style>
	:root { --text: #446; --main: #0cf }
	body {
		font-family: Arial, sans-serif; 
		overflow: hidden;
		color: var(--text);
	}
	@font-face { font-family: "WS Pen"; src: url("img/ws-pen.woff2") format("woff2"); }
	h1, h2 { font-family: "WS Pen", sans-serif; text-align: center; }
	h1 { font-size: 3rem; }
	h2 {
		font-size: 2rem;
		text-decoration: underline;
		text-decoration-color: var(--main);
		text-decoration-thickness: 3px;
		text-underline-offset: 8px;
		line-height: 3rem;
	}
	html, body, main { margin: 0; padding: 0; height: 100%; }
	main { overflow: auto; scroll-snap-type: y proximity; }
	section {
		background: linear-gradient(to right, #00c4f5 50%, #0cf 50%);
		margin: auto;
		min-height: calc(100vh - calc(100vh - 100%));
		scroll-snap-align: start;
	}
	nav { display: flex; height: 4rem; align-items: center; justify-content: center; }
	p a { color: var(--main); text-decoration: none; }
	p a:hover { text-decoration: underline; text-underline-offset: 3px; }
	ul { list-style: none; }
	ul li::before { content: '▪'; color: var(--main); font-size: 1.5em; margin-right: 0.5rem; }
	</style>
</head>

<body>
	<main>{{ page.content }}</main>
</body>

</html>
