<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<title>{{ page.title }}</title>
	
	<meta name="theme-color" content="#3A3387">
	<style>
	</style>
</head>

<body>
	<header>
		<nav></nav>
	</header>

	<main>
		{{ page.content }}
	</main>
</body>
</html>

