<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="theme-color" content="#3A3387">
	<title>{{ page.title }}</title>
	
	<style>
	html, body { all: initial; }
	main { max-width: 1140px; margin: auto; padding: 2rem 1.5rem; }
	h1, h1+h3, h1+h3+p { column-span: all; text-align: center; }
	h2 { margin-top: 1.5em; }
	p { text-align: justify; }
	img { max-width: 100%; }
	@media screen and (min-width: 700px) { main { columns: 2 auto; column-gap: 8vmin; } }
	@media print { main { columns: 2 auto; column-gap: 5rem; } }
	</style>
</head>

<body>
	<main>
		{{ page.content }}
	</main>
</body>
</html>

