<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="theme-color" content="#3A3387">
	<title>{{ page.title }}</title>
	
	<style>
	:root {
		--color-accent: darkslateblue;
		--color-alt: #937;
		--color-text: #335;
		--nav-height: calc(3rem + 2vh);
		--max-width: 1100px;
	}
	html, body { all: initial; scroll-behavior: smooth; }
	body { font-family: sans-serif; color: var(--color-text); }
	.max { width: 100%; max-width: var(--max-width); margin: auto; }

	main { margin: auto; padding: 2rem 1.5rem; }
	h1, h1+h3, h1+h3+p { column-span: all; text-align: center; }
	h2 { margin-top: 1.5em; }
	p { text-align: justify; }
	img { max-width: 100%; }
	@media screen and (min-width: 700px) { main { columns: 2 auto; column-gap: 8vmin; } }
	@media print {
		:root { --color-text: black; }
		main { columns: 2 auto; column-gap: 5rem; }
		nav { display: none; }
	}
	</style>
</head>

<body>
	{% include "nav.liquid" active:"paper", class:"" %}
	<main class="max">
		{{ page.content }}
	</main>
</body>
</html>

