<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<title>{{ page.title }}</title>

	<!-- change color -->
	<meta name="theme-color" content="#54c95e">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/variables.css">
</head>

<body class="hidden">
	{% include "nav.liquid" %}
		<main>{{ page.content }}</main>
	{% include "footer.liquid" %}
	<script>
	const observer = new IntersectionObserver(entries => {
  		entries.forEach(entry => {
			if (entry.intersectionRatio > 0) {
				entry.target.classList.add('animate');
				observer.unobserve(entry.target);
			}
  		});
	}, { threshold: 0.2 }); 

	const animatedElements = document.querySelectorAll('.animated');

	animatedElements.forEach(element => {
		observer.observe(element);
	});

		document.fonts.ready.then((fontFaceSet) => {
			document.body.classList.remove('hidden');
		})
	</script>
</body>

</html>
