<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<title>{{ page.title }}</title>
	
	<meta name="theme-color" content="#3A3387">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/{{ page.slug }}.css">
</head>

<body>
	<main>{{ page.content }}</main>
	{% include "footer.liquid" %}
</body>

</html>
